.bnm-footer-cols-1,
.bnm-footer-cols-2,
.bnm-footer-cols-3,
.bnm-footer-cols-4 {
    .bnm-footer-column {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .bnm-footer-cols-2 {
        .bnm-footer-column {
            width: calc( 50% - var(--bnm-footer-cols-gap)/2);
        }

    }
    .bnm-footer-cols-3 {
        .bnm-footer-column {
            width: calc( 33.333% - (var(--bnm-footer-cols-gap)*2)/3);
        }
    }
    .bnm-footer-cols-4 {
        .bnm-footer-column {
            width: calc( 25% - (var(--bnm-footer-cols-gap)*3)/4);
        }
    }
}

.site-footer {
    color: #cccccc;
    a {
        color: #cccccc;

        &:hover {
            color: #ffffff;
        }
    }
}

.bnm-footer-bottom {
    background-color: #0f1329;
    padding: 20px 0;
}

.bnm-footer-widget-area {
    background-color: var(--bnm-color-tertiary);

    .widget {
        margin: 50px 0;
    }
}

.bnm-footer-widget-area:before,
.bnm-footer-widget-area:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.bnm-footer-widget-area:after {
  clear: both;
}

.bnm-footer-widgets-inner {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
}

.bnm-wide-footer {
    .bnm-container.bnm-footer-widgets-inner {
        width: 100%;
    }
}

.bnm-footer-site-info {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: space-between;
}