$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-ins: #fff9c0;
$color__text-screen: #21759b;
$color__border-abbr: #666; 

// Default Colors.
:root {
    --bnm-color-primary: #f87c7c;
    --bnm-color-tertiary: #1D223F;

    --bnm-color-body-background: #ffffff;
    --bnm-color-boxed-layout-background: #dddddd;
    --bnm-color-main-menu: #1d223f;

    --bnm-color-text-main: #222222;
    --bnm-color-text-light: #787878;
    --bnm-color-text-darker: #000000;
    --bnm-color-link: #000000;
    --bnm-color-link-hover: var(--bnm-color-primary);
    --bnm-color-link-visited: #5d7ddb;

    --bnm-color-button-background: var(--bnm-color-primary);
    --bnm-color-button-text: #ffffff;
    --bnm-color-button-hover-text: #ffffff;
    --bnm-color-button-hover-background: #222222;
    --bnm-color-button-focus-background: #111111;

    --bnm-color-border: #dddddd;
    --bnm-color-input-border: #ccc;
    --bnm-color-text-input-focus: var(--bnm-color-text-main);
    --bnm-color-input: var(--bnm-color-text-main);

    --bnm-color-background-pre: #eeeeee;
}